# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
backend/static/result.csv
backend/static/plot.png
/tmp/

# Web / JavaScript
node_modules/
dist/
frontend/dist/
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Vercel
.vercel