# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Vercel
.vercel

# Data & Static
static/result.csv
static/plot.png
/tmp/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
VERCEL_DEPLOYMENT_GUIDE.md